*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --main-bg: #239fd4;
}

header {
    padding: 0.5rem;
    background-color: var(--main-bg);
    color: whitesmoke;
    text-align: left;
    font-family: "Dia", Arial, serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: -webkit-linear-gradient(var(--main-bg), #434a5c);
    text-shadow:
        1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 18px 6px rgb(16 16 16 / 40%), 1px 22px 10px rgb(16 16 16 / 20%), 1px 30px 60px rgb(16 16 16 / 40%);

}

.headerTxt {
    display: inline-block;
    padding: 0.3rem;
    font-weight: bold;
    text-decoration: none;
    color: whitesmoke;
}

#burger {
    text-align: center;
    z-index: 3;
}

.fa-bars {
    display: block;
    height: 2rem;
}

nav {
    /*display: none;*/
    opacity: 0.9;
    position: absolute;
    top: 0;
    height: 100vh;
    background: #222;
    transform: translateY(-60rem);
    padding-top: 7rem;
    transition: transform 550ms ease-in-out;
    right: 0;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    box-shadow: 0px 1px 2px #51c2f3, 0px 2px 4px var(--main-bg),
        0px 4px 8px #51c2f3, 0px 8px 16px var(--main-bg);

}

.menu-active {
    transform: translateY(0);
    width: 9rem;
}

ul {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

li {
    border-radius: 5px;
    transition: all ease 0.2s;
    margin-bottom: 0.3rem;
    width: 6rem;

}

.navItems {
    text-decoration: none;
    margin-left: 0.4rem;
    line-height: 43px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    text-align: left;
    font-family: "Dia", Arial, serif;
    background: -webkit-linear-gradient(var(--main-bg), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

hr {
    width: 50%;
    margin: 0 auto;
    color: var(--main-bg);
}

.advertising {
    margin: 0;
    position: relative;
    z-index: 1;
}

.advertising::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(./img/advert.jpg);
    opacity: .4;
    content: "";
    z-index: -1;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.advertContent {
    position: relative;
    display: block;
}

.advertContent::before {
    opacity: 0.4;
    background: rgb(69, 66, 71);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: .4;
    content: "";
    z-index: -1;
    margin: 1rem;

}

h4 {
    padding: 2rem;
    color: rgb(242, 246, 250);
    font-family: "Dia", Arial, serif;
    line-height: 2.7rem;
}

span {
    color: #51c2f3;
    text-shadow: 0px 1px 2px #2e6f8b, 0px 2px 4px var(--main-bg), 0px 4px 8px #2e6f8b, 0px 8px 16px var(--main-bg);
    font-size: 1.2rem;
}

.controllerBox {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    height: 14px;
}

.controllers {
    display: inline-block;
    background-color: rgb(242, 246, 250);
    text-indent: -9999px;
    border-radius: 7px;
    width: 7px;
    height: 7px;
    margin-right: 10px;
    padding: 0;
    opacity: .5;
}

.showWhite {
    opacity: 1;
}

@keyframes fadeIn {
    from {
        right: -100%;
    }

    to {
        right: 0;
    }
}


.firstPage {
    position: relative;
    right: -100%;
    animation: fadeIn 8s forwards;
    overflow: hidden;
}

.advertBox {
    display: flex;
    overflow: hidden;
}

.intro {
    background-color: #337193;
    padding: 1rem;
    font-size: 1rem;
}

@keyframes showIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.introText {
    opacity: 0;
    margin-top: 2rem;
    font-size: large;
    font-weight: bold;
    line-height: 1.7rem;
    color: rgb(242, 246, 250);
    font-family: "Dia", Arial, serif;
    animation: showIn 6s forwards 2s;
}

.pics {
    width: 20%;
    height: 30%;
    display: block;
    margin: 1rem auto;
}

.promo {
    position: relative;
    display: block;
    color: rgb(12, 30, 77);
    padding: 1rem;
    font-size: large;
    font-weight: bolder;
    line-height: 1.7rem;
    font-family: "Dia", Arial, serif;
}

.promo::before {
    opacity: 0.4;
    background: rgb(69, 66, 71);
    position: absolute;
    top: 0rem;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: .4;
    content: "";
    z-index: -1;
}

.promoPic {
    width: 60%;
    display: block;
    margin: 1rem auto;
    box-shadow: 0px 1px 2px white, 0px 2px 4px grey, 0px 2px 4px gray;
    border-radius: 0.15rem;
}

.promoTitle {
    padding: 0;
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 18px 6px rgb(16 16 16 / 40%), 1px 22px 10px rgb(16 16 16 / 20%), 1px 30px 60px rgb(16 16 16 / 40%);
}

/*gallery*/
.gallery {
    background: rgb(12, 30, 77);
}

.galleryBox {
    display: flex;
    padding: 0.5rem 0;
    flex-direction: column;
}

.galleryItems {
    display: block;
    margin: 0.5rem auto;
    width: 16rem;
    box-shadow: inset 2px 2px 5px rgb(154 147 140 / 50%), 1px 1px 5px rgb(255 255 255);
    border-radius: 0.25rem;
    border: 1px solid rgb(241, 240, 240);
    visibility: hidden;
}

@keyframes zoom {
    from {
        width: 50%;

    }

    to {
        width: 85%;

    }
}

.zoomPic {
    animation: zoom 4s forwards;
}