*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --main-bg: #239fd4;
    --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", system-ui, sans-serif;

}

header {
    padding: 0.5rem;
    background-color: rgb(12, 30, 77);
    text-align: left;
    font-family: "Dia", Arial, serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*text-shadow:
        1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 18px 6px rgb(16 16 16 / 40%), 1px 22px 10px rgb(16 16 16 / 20%), 1px 30px 60px rgb(16 16 16 / 40%);*/
    padding: 0.5rem 1.2rem;
}

.headerTxt {
    display: inline-block;
    padding: 0.3rem;
    font-weight: bold;
    text-decoration: none;
    color: whitesmoke;
}

#burger,
#chevron {
    text-align: center;
    z-index: 3;
    color: white;
}

.fa-square-chevron-down {
    height: 2rem;
    text-shadow: 1px 1px 1px #ccc;
    height: 1.3rem;
}

.fa-bars {
    display: block;
    height: 1.3rem;
}

#user,
#phNumber,
#mail,
#chevron,
#burger {
    color: #80c7e5;
    font-size: 1rem;
}

nav {
    /*display: none;*/
    opacity: 0.9;
    position: absolute;
    padding-top: 2rem;
    height: 100vh;
    background: #222;
    transform: translateY(-60rem);
    padding-top: 7rem;
    transition: transform 550ms ease-in-out;
    right: 0;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    box-shadow: 0px 1px 2px #51c2f3, 0px 2px 4px var(--main-bg),
        0px 4px 8px #51c2f3, 0px 8px 16px var(--main-bg);
    width: 9rem;
}

.menu-active {
    transform: translateY(0);
}

.navLeftBox {
    opacity: 0.9;
    position: absolute;
    height: 16vh;
    background: #222;
    transform: translateY(-30rem);
    padding-left: 3.7rem;
    transition: transform 550ms ease-in-out;
    left: 1rem;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    box-shadow: 0px 1px 2px #51c2f3, 0px 2px 4px var(--main-bg),
        0px 4px 8px #51c2f3, 0px 8px 16px var(--main-bg);
    padding-top: 1rem;
    width: 21rem;
}

.menu-activeLeft {
    transform: translateY(0);
}


ul {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

li {
    border-radius: 5px;
    transition: all ease 0.2s;
    margin-bottom: 0.3rem;
    width: 6rem;
}

.menuLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menuLeftItems {
    display: flex;
    flex-direction: row;
    width: 70%;
}

.navItems {
    text-decoration: none;
    margin-left: 0.4rem;
    line-height: 43px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 5px;
    text-align: left;
    font-family: "Dia", Arial, serif;
    background: -webkit-linear-gradient(var(--main-bg), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

hr {
    width: 50%;
    margin: 0 auto;
    color: var(--main-bg);
}

.advertising {
    margin: 0;
    position: relative;
    z-index: 1;
}

.advertising::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(./img/advert.jpg);
    opacity: .4;
    content: "";
    z-index: -1;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.advertContent {
    position: relative;
    display: block;
}

.advertContent::before {
    opacity: 0.4;
    background: rgb(69, 66, 71);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: .4;
    content: "";
    z-index: -1;
    margin: 1rem;

}

h4 {
    padding: 2rem;
    color: rgb(12, 30, 77);
    font-family: "Dia", Arial, serif;
    line-height: 2.7rem;
}

span {
    color: white;
    text-shadow: 0px 1px 2px #2e6f8b, 0px 2px 4px rgb(12, 30, 77), 0px 4px 8px #2e6f8b, 0px 8px 16px rgb(12, 30, 77);
    font-size: 1.2rem;
}

.controllerBox {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    height: 14px;
}

.controllers {
    display: inline-block;
    background-color: rgb(242, 246, 250);
    text-indent: -9999px;
    border-radius: 7px;
    width: 7px;
    height: 7px;
    margin-right: 10px;
    padding: 0;
    opacity: .5;
}

.showWhite {
    opacity: 1;
}

@keyframes fadeIn {
    from {
        right: -100%;
    }

    to {
        right: 0;
    }
}


.firstPage {
    position: relative;
    right: -100%;
    animation: fadeIn 8s forwards;
    overflow: hidden;
}

.advertBox {
    display: flex;
    overflow: hidden;
}

.intro {
    background: linear-gradient(var(--main-bg), white);
    padding: 1rem;
    font-size: 1rem;
    display: block;
}

.introPull {
    color: #0c1e4d;
    font-size: 1.2rem;
}

@keyframes showIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.introText {
    opacity: 0;
    margin-top: 2rem;
    font-size: large;
    line-height: 1.7rem;
    color: rgb(242, 246, 250);
    font-family: var(--font-sans);
    animation: showIn 6s forwards 2s;
}

#promoText {
    font-family: var(--font-sans);
    color: #0c1e4d;
}

.introParags {
    display: inline-flex;
    margin-top: 0.5rem;
}

.ParagContent {
    margin-left: 0.4rem;
}

.brushIcon {
    margin-top: 0.8rem;
}

.pics {
    width: 42%;
    display: block;
    margin: 1rem auto;
}

.promoBox {
    background: linear-gradient(0deg, rgb(12, 30, 77) 0%, rgb(250, 253, 254) 100%);
}

.promo {
    position: relative;
    display: block;
    color: rgb(12, 30, 77);
    padding: 1rem;
    font-size: large;
    font-weight: bolder;
    line-height: 1.7rem;
    font-family: "Dia", Arial, serif;
}

.promo::before {
    opacity: 0.4;
    background: rgb(69, 66, 71);
    position: absolute;
    top: 0rem;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: .4;
    content: "";
    z-index: -1;
}

.promoPic {
    width: 60%;
    display: block;
    margin: 1rem auto;
    box-shadow: 0px 1px 2px white, 0px 2px 4px #0c1e4d, 0px 2px 4px #0c1e4d;
    border-radius: 0.15rem;
}


.promoTitle {
    padding: 0;
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 18px 6px rgb(16 16 16 / 40%), 1px 22px 10px rgb(16 16 16 / 20%), 1px 30px 60px rgb(16 16 16 / 40%);
    color: white;
}

/*gallery*/
.gallery {
    background: rgb(12, 30, 77);
}

.galleryBox {
    display: flex;
    padding: 0.5rem 0;
    flex-direction: column;
}

.galleryItems {
    display: block;
    margin: 0.5rem auto;
    width: 16rem;
    box-shadow: inset 2px 2px 5px rgb(154 147 140 / 50%), 1px 1px 5px rgb(255 255 255);
    border-radius: 0.25rem;
    border: 1px solid rgb(241, 240, 240);
    visibility: hidden;
}

@keyframes zoom {
    from {
        width: 50%;

    }

    to {
        width: 85%;

    }
}

.zoomPic {
    animation: zoom 4s forwards;
}

.contactName,
.promoContact {
    padding: 0;
}

.buckets {
    width: 80%;
    height: 90%;
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}


.i1 {
    --i: 1;
}

.i2 {
    --i: 2;
}

.i3 {
    --i: 3;
}

.i5 {
    --i: 5;
}

.i4 {
    --i: 4;
}

.i6 {
    --i: 6;
}

.i7 {
    --i: 7;
}


.box {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
    margin: 3rem auto;
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 50deg)) translateZ(150px);
}