*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --main-bg: #1096d0;
}

header {
    background-color: var(--main-bg);
    color: whitesmoke;
    text-align: center;
}

.headerTxt {
    display: inline-block;
    padding: 0.3rem;
    font-weight: bold;
}